{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="custom-bg-1 custom-text-2 p-4 rounded-4 mb-5">
  <div class="d-flex justify-content-center custom-fs-1">
    <div class="custom-text-2">
      <span id="hour">00</span>
      <span id="colon">:</span>
      <span id="minute">00</span>
      <span id="colon">:</span>
      <span id="second">00</span>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <button id="start" class="btn custom-btn mb-5" onclick="logClick('Start studying')">Start studying</button>
  </div>
  
  <div class="align-items-start">
      <div class="d-flex mb-3">
        <select class="select-dark mb-2" name="asignaturas" id="asignaturas" required>
          <option value="">Select a subject...</option>
          {% for asignatura in asignaturas %}
            <option value="{{ asignatura.id }}">{{ asignatura.nombre | capitalize }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <div class="mb-1">Summary:</div>
        <textarea class="form-control mb-3 custom-textarea" name="summary" id="summary" placeholder="Summary of what I studied in this session" required></textarea>
      </div>
  </div>
    <div class="d-flex justify-content-center gap-4">
      
        <button id="stop" class="btn custom-btn-2 btn-loading" onclick="logClick('Submit session')">
          <span class="btn-text">Submit session</span>
          <span class="btn-loader"></span>
        </button>
      
      
        <button id="cancel" class="btn custom-btn-3 btn-loading" onclick="logClick('Cancel')">
          <span class="btn-text">Cancel</span>
          <span class="btn-loader"></span>
        </button>
      
    </div>
  </form>
</div>
<br><br>

<script src="{{ url_for('static', filename='js/timerAdd.js') }}"></script>

{% endblock %}