{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="custom-bg-1 custom-text-2 p-4 rounded-4 mb-5">
  <p class="mb-4 text-center">Welcome, {{ nombre | capitalize }}!</p>
{% if not estudios %}
    <p class="text-center">Record your first study time <a href="/add_time" style="color:#fb7833">here</a>.</p>
</div>
<br><br>
{% else %}
  {% include 'progreso.html'%}
</div>
<div class="custom-bg-1 custom-text-2 p-4 rounded-4 mb-5">
    <h2 class="mb-4 text-center">Percentages of study</h2>
    {% include 'porcentajes.html'%}
</div>
  {% if incentivos != [] %}
    <div class="custom-bg-1 custom-text-2 p-4 rounded-4 mb-5">
    <h2 class="mb-4 text-center">Grade Incentive</h2>
    {% include 'incentivo_notas.html'%}
    </div>
  {% endif %}
<br><br>
{% endif %}
<script>
  if (window.location.search.includes("reload=true")) {
    
    const url = new URL(window.location.href)
    url.searchParams.delete("reload")
    window.history.replaceState({}, document.title, url.pathname)
    window.location.reload()
  }
</script>
{% endblock %}