{% extends 'base.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}

<div class="custom-bg-1 custom-text-2 p-4 rounded-4 mb-5">
  <p class="mb-4 text-center">Welcome, {{ nombre }}!</p>

  {% include 'progreso.html'%}

  {% if not estudios %}
    <p class="text-center">Record your first study time <a href="/add_time" style="color:#fb7833">here</a>.</p>
  {% else %}
    <h2 class="mb-4 text-center">Percentages of study</h2>
    {% include 'porcentajes.html'%}
    {# <h2 class="mb-4 text-center mt-5" id="study-record-title">Latest study records</h2> #}
    {# {% include 'record_list.html' %} #}
  </div>
  {% endif %}

{% endblock %}