{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

{% include 'flash_messages.html' %}

<div class="custom-bg-1 custom-text-1 p-4 rounded-4 mb-5">
    <h4 class="mb-4">New user</h4>
    <form action="/registro" method="POST">
        <div class="d-flex gap-3">
            <div class="mb-3 flex-grow-1">
                <label for="name" class="form-label">Name</label>
                <input class="form-control" type="text" id="nombre" name="nombre" value="{{ nombre }}" required>
            </div>
            <div class="mb-3 flex-grow-1">
                <label for="email" class="form-label">E-mail</label>
                <input class="form-control" type="email" id="email" name="email" value="{{ email }}" required>
            </div>
        </div>
        <div class="d-flex gap-3">
            <div class="mb-3 flex-grow-1">
                <label for="contrasena" class="form-label">Password</label>
                <input class="form-control" type="password" id="contrasena" name="contrasena" required>    
            </div>
            <div class="mb-3 flex-grow-1">
                <label for="repetir_contrasena" class="form-label">Repeat password</label>
                <input class="form-control" type="password" id="repetir_contrasena" name="repetir_contrasena" required>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Role</label>
            <fieldset class="d-flex justify-content-start gap-3 custom-bg-2 rounded-2 px-2 pt-2">
            {% for rol in roles %}
                <div>
                    <input type="radio" id="{{rol.id}}" name="role" value="{{rol.nombre}}" {% if rol.id|string == rol_seleccionado|string %}checked{% endif %}>

                    <label for="{{rol.id}}" class="form-label">{{rol.nombre | capitalize }}</label>
                </div>
                {% endfor %}
            </fieldset>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn custom-btn">Register</button>
        </div>
    </form>
</div>

<br><br>

{% endblock %}