{% extends 'base_supervisor.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="custom-bg-1 custom-text-2 p-4 rounded-4 mb-5">
  <div class="d-flex flex-column align-items-center">
    <h3>Students</h3>
    <div class="list-group w-100 mt-3">
      {% for estudiante in estudiantes %}
        <div class="d-flex list-group-item flex-column flex-sm-row justify-content-between align-items-sm-center">
          <div>
            <div><strong>{{ estudiante.nombre | capitalize }}</strong></div>
            <div>Status: {{ estudiante.estado | capitalize }}</div>
            <div>Current time: {{ estudiante.tiempo | ms_to_hms }} <span>[<a href="{{ url_for('super.time_information', id=estudiante.id) }}">Manage</a>]</span></div>
          </div>
          <div class="d-flex gap-2 my-2 my-sm-0 align-items-center">
            <a href="{{ url_for('super.student_records', id=estudiante.id) }}">Records</a>
            
            {% if estudiante.grade_incentive %}
              <a href="{{ url_for('super.grade_incentive' if estudiante.incentivo_id else 'super.grade_incentive_warning', id=estudiante.id ) }}" >Grade incentive</a>
            {% endif %}
            
            <a href="{{ url_for('core.settings', id=estudiante.id) }}">Settings</a>
          </div>
        </div>
      {% endfor %}
    </div>
    <a href="{{ url_for('relaciones.link_request') }}" class="btn custom-btn-3 mt-4">Link new student</a>
  </div>
</div>
<br><br>
{% endblock %}