{% extends 'base_supervisor.html' %}
{% block title %}Grade record{% endblock %}flash_messa

{% block content %}

{% include 'flash_messages.html' %}


<div class="custom-bg-1 custom-text-2 p-4 rounded-4 mb-5">
    <div class="d-flex justify-content-between">
        <h3 class="mb-4">New Grade</h3>
        <p>{{ name }}</p>
    </div>
    
    <div class="d-flex flex-column flex-md-row justify-content-between gap-2">

        <div class="d-flex flex-column" style="max-width: 150px;">
            <label for="asignatura" class="form-label">Subject</label>
            <select class="form-control mb-2" name="asignatura" id="asignatura" required>
                <option value="">Select a subject...</option>
                {% for asignatura in asignaturas %}
                  <option value="{{ asignatura.id }}">{{ asignatura.nombre | capitalize }}</option>
                {% endfor %}
            </select>
        </div>
    
        <div class="d-flex flex-column" style="max-width: 160px;">
            <label for="fecha" class="form-label">Date</label>
            <input class="form-control mb-2" type="date" id="fecha" name="fecha" placeholder="fecha">
        </div>
    
        <div class="d-flex flex-column" style="max-width: 50px;">
            <label for="nota" class="form-label">Grade</label>
            <select class="form-control mb-2" name="nota" id="nota">
                {% for grade in best_grades %}
                  <option value="{{ grade }}">{{ grade }}</option>
                {% endfor %}
            </select>
        </div>
    
        <div class="d-flex flex-column flex-grow-1">
            <label for="tema" class="form-label">Topic</label>
            <input class="form-control mb-2" type="text" id="tema" name="tema" placeholder="Topic">
        </div>
    
    </div>
    
    <div class="d-flex justify-content-end">
        <button class="btn custom-btn-2 mt-2 btn-loading" id="submit-grade-btn" onclick="">
            <span class="btn-text">Submit</span>
            <span class="btn-loader"></span>
        </button>
    </div>

</div>

<!-- Mark grade as paid -->
<div class="custom-bg-1 custom-text-2 p-4 rounded-4 mb-5">
    <h3 class="mb-4">Payment</h3>
    <select class="form-control mb-2 grade-to-pay-select" name="grade_to_pay" id="grade_to_pay" required>
        <!-- menu -->
        <option value="">Select a grade to mark as paid...</option>
            {% for registro in registro_notas %}
                {% if not registro.estado %}
                    <option value="{{ registro.id }}" data-usuario_id="{{ registro.usuario_id }}">{{ registro.asignatura.nombre | capitalize }}: {{ registro.tema | capitalize }}: [{{ registro.nota }}]</option>
                {% endif %}
            {% endfor %}
    </select>
    <div class="d-flex justify-content-end">
        <button class="btn custom-btn-2 mt-2 btn-loading" id="mark-paid-btn">
            <span class="btn-text">Mark as paid</span>
            <span class="btn-loader"></span>
        </button>
    </div>
</div>

<!-- Best grades table -->
<div class="custom-bg-1 custom-text-2 p-4 rounded-4 mb-5">
    <h3 class="mb-4">Best Grades</h3>

    <table class="table table-dark table-bordered text-center custom-text-2 table-striped !important">
        <thead>
            <tr class="custom-text-1">
              <th>Subject</th>
              <th>Topic</th>
              <th>Grade</th>
              <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in registro_notas %}
                <tr>
                    <td style="word-break: break-word;">{{ registro.asignatura.nombre | capitalize }}</td>
                    <td style="word-break: break-word;">{{ registro.tema }}</td>
                    <td>{{ registro.nota }}</td>
                    <td>{{ "Paid" if registro.estado == true else "Unpaid" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br><br>
<script>

const submitGradeBtn = document.getElementById("submit-grade-btn")
const markPaidBtn = document.getElementById("mark-paid-btn")

withLoader(submitGradeBtn, () => submitGrade())
withLoader(markPaidBtn, () => markPaid())

document.addEventListener("DOMContentLoaded", () => {
    const flash = document.getElementById("flash-messages")
    if (flash) {
        flash.classList.add("show")
    }   
})

function markPaid() {
    const select = document.querySelector('.grade-to-pay-select');
    const selectedOption = select.options[select.selectedIndex];
    const registroId = selectedOption.value;
    const estudianteId = selectedOption.dataset.usuario_id;

    fetch("/payment", {
        method: "PUT",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
            grade_to_pay: registroId,
            estudiante_id: estudianteId
        }),
    }).then(response => {
        if (response.redirected) {
            window.location.href = response.url;
        }
    });
}

async function submitGrade() {
    let asignatura = document.getElementById("asignatura").value
    let tema = document.getElementById("tema").value
    let nota = document.getElementById("nota").value
    let fecha = document.getElementById("fecha").value

    try {
        const response = await fetch("/grade_incentive/{{ user_id }}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                asignatura: asignatura,
                tema: tema,
                nota: nota,
                fecha: fecha,
            })
        })

        if (!response.ok) {
            throw new Error(`Error HTTP: ${response.status}`)
        }
        
        if (response.redirected) {
            window.location.href = response.url
            return
        }

        const data = await response.json()
        console.log("Respuesta del servidor:", data)

    } catch (error) {
        console.error("Error al consultar los datos", error)
    }
}

</script>
{% endblock %}