{% extends 'base_supervisor.html' %}

{% block title %}Records list{% endblock %}

{% block content %}

{% if not estudios %}
<div class="custom-bg-1 custom-text-2 p-4 rounded-4 mb-5 text-center">
  <h3 class="mb-4">No record found yet.</h3>
{% else %}
<div class="custom-bg-1 custom-text-2 p-4 rounded-4 mb-5">
  <h2 class="mb-4 text-center">
    Latest study record
  </h2>
  {% include 'record_list.html' %}
</div>
<div class="custom-bg-1 custom-text-2 p-4 rounded-4 mb-5">
  <h2 class="mb-4 text-center">Time usage record</h2>
  {% include 'time_use_list.html' %}
</div>
<br><br>  
{% endif %}

{% endblock %}