{% extends 'base_supervisor.html' %}

{% block title %}Settings{% endblock %}

{% block content %}

<style>
  .tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip-text {
    visibility: hidden;
    opacity: 0;
    width: 250px;
    background-color: rgb(49, 49, 49);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* arriba del icono */
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s;
    font-size: 14px;
  }
  
  /* En desktop se muestra con hover */
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }





  </style>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {% set bootstrap_class = {
          "error": "danger",
          "success": "success",
          "warning": "warning",
          "info": "info"
      }[category] %}
      <div class="alert alert-{{ bootstrap_class }} mt-2" role="alert">
        {{ message | safe }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


<div class="custom-bg-1 custom-text-2 p-4 rounded-4 mb-5">
  <div class="d-flex justify-content-between">
    <h5>Settings</h5>
    <p>{{ name }}</p>
  </div>
  
  <!-- ratio -->
  <div class="my-4">
    <p class="fs-2">Study-Fun Ratio</p>
    <p>Set the ratio between study time and fun time.</p> 
    <label for="study-fun-ratio">For every:</label>
    <select name="study-fun-ratio" id="study-fun-ratio" class="select-dark">
      <option value="0.5" {% if study_fun_ratio == 0.5 %}selected{% endif %}>2 hours of study, 1 hour of fun</option>
      <option value="0.571429" {% if study_fun_ratio == 0.571429 %}selected{% endif %}>1:45 hours of study, 1 hour of fun</option>
      <option value="0.666667" {% if study_fun_ratio == 0.666667 %}selected{% endif %}>1:30 hours of study, 1 hour of fun</option>
      <option value="0.8" {% if study_fun_ratio == 0.8 %}selected{% endif %}>1:15 hours of study, 1 hour of fun</option>
      <option value="1.0" {% if study_fun_ratio == 1.0 %}selected{% endif %}>1 hour of study, 1 hour of fun</option>
      <option value="1.25" {% if study_fun_ratio == 1.25 %}selected{% endif %}>1 hour of study, 1:15 hours of fun</option>
      <option value="1.5" {% if study_fun_ratio == 1.5 %}selected{% endif %}>1 hour of study, 1:30 hours of fun</option>
      <option value="1.75" {% if study_fun_ratio == 1.75 %}selected{% endif %}>1 hour of study, 1:45 hours of fun</option>
      <option value="2.0" {% if study_fun_ratio == 2.0 %}selected{% endif %}>1 hour of study, 2 hours of fun</option>
    </select>
  </div>
  
  <hr>
  
  <!-- level -->
  <div class="my-4">
    <p class="fs-2">Level</p>
    <p>After 10 study hours, the student reaches a new level and gets extra time set here.</p> 
    <label for="extra-time">Extra time:</label>
    <select name="extra-time" id="extra-time" class="select-dark">
      <option value="1800000" {% if extra_time == 1800000 %}selected{% endif %}>30 min</option>
      <option value="3600000" {% if extra_time == 3600000 %}selected{% endif %}>1 hour</option>
      <option value="7200000" {% if extra_time == 7200000 %}selected{% endif %}>2 hours</option>
    </select>
  </div>
  
  <hr>
  
  <!-- trophy-->
  <div class="my-4">
    <p class="fs-2">Trophy</p>
    <p>After 50 study hours, the student unlocks a new trophy and gets a custom reward. (i.e. $5.00 Steam Gift Card, 3 extra hours or $5.00 cash)</p>
    
    <div class="rounded custom-bg-grey py-2 px-2 d-flex align-content-center flex-column text-center mt-2 mb-4">
      <p class="mb-0">Current reward</p>
      <h5 class="mb-0">{{ trofeo | safe }}</h5>
    </div>
    
    <h5>Set new reward</h5>
    <form action="{{ url_for('super.set_trophy', id=estudiante_id) }}" method="POST" class="d-flex gap-2 align-items-center">
      <input id="reward_input" name="reward" type="text" class="form-control flex-shrink-1">
      <button type="submit" class="btn custom-btn-2 btn-loading">
        <span class="btn-text">Set</span>
        <span class="btn-loader"></span>
      </button>
    </form>
  </div>
  
  <hr>
  
  <!-- grade incentive-->
  <div class="my-4">
    <div class="d-flex justify-content-start align-items-center gap-2 mb-2">
      
      <label for="grade_incentive" class="fs-2">Grade incentive</label>
      
      <input type="checkbox" id="grade_incentive" name="grade_incentive" value="1" onclick="fetchIncentivoToggle({{ estudiante_id }})" {% if incentivo_notas %}checked{% endif %}>
      
      <div class="d-flex align-items-center tooltip-container">
        <iconify-icon id="infoIcon" class="cursor-pointer" icon="ic:twotone-info" width="20" height="20"></iconify-icon>
        <span class="tooltip-text">Monetary reward system for results applying personalized criteria</span>
      </div>
  
    </div>
    
    <div id="grade_incentive_section" style="{% if incentivo_notas %} display:block {% else %}display: none;{% endif %}">
      
        Country: 
        <select id="pais_select" class="flex-shrink-1 select-dark" onchange="handlePaisChange(this)">
          {% for pais in paises %}
            <option 
            value="{{ pais.id }}"
            {% if pais.id == pais_actual %}selected{% endif %}
            data-moneda="{{ pais.moneda }}"
            data-simbolo="{{ pais.simbolo }}"
            >
              {{ pais.pais }}
            </option>
          {% endfor %}
        </select>
      
      <div class="my-4"></div>
  
      <h5>Incentives</h5>
      <ul id="incentivos_ul">
          {% if incentivos %}
              {% for item in incentivos %}
              <li data-id="{{ item.id }}">
                  <div class="d-flex justify-content-start gap-2 align-content-center">
                      <div>{{ item.incentivo }}</div>
                      <iconify-icon class="cursor-pointer" icon="ic:baseline-delete" width="20" height="20" onclick="handleDeleteIncentive({{ estudiante_id }}, {{ item.id }})"></iconify-icon>
                  </div>
              </li>
              {% endfor %}
          {% else %}
              <li id="no_incentives">There is no incentives yet.</li>
          {% endif %}
      </ul>
  
      <h5>Restrictions</h5>
      <ul id="restricciones_ul">
        {% if restricciones %}
          {% for item in restricciones %}
            <li data-id="{{ item.id }}">
              <div class="d-flex justify-content-start gap-2 align-content-center">
                <div>{{item.restriccion}}</div> 
                <iconify-icon class="cursor-pointer" icon="ic:baseline-delete" width="20" height="20" onclick="handleRemoveRestriction({{ estudiante_id }}, {{ item.id }})"></iconify-icon>
              </div>
            </li>
          {% endfor %}
        {% else %}
            <li id="no_restrictions">There is no restrictions yet.</li>
        {% endif %}
      </ul>
      
      <div class="my-4"></div>
      
      <h5>Add incentive</h5>
      <div class="d-flex flex-nowrap gap-2 align-items-center">
        
        <!-- monto -->
        <input type="text" id="monto" class="form-control flex-shrink-1" style="min-width:60px" placeholder="">
        
        <!-- texto -->
        <div class="text-nowrap"><span id="moneda_display"></span> for grades >=</div>
        
        <!-- monto -->
        <select id="grade" class="select-dark"></select>
  
        <!-- enviar -->
        <button class="btn custom-btn-2 btn-loading" id="add_incentive_btn">
          <span class="btn-text">Add</span>
          <span class="btn-loader"></span>
      </div>
  
      <div class="my-4"></div>
      
      <h5>Add restriction</h5>
      <div class="d-flex gap-2 align-items-center">
        <input id="restriccion_input" type="text" class="form-control flex-shrink-1">
        <button class="btn custom-btn-2 btn-loading" id="addRestrictionBtn">
          <span class="btn-text">Add</span>
          <span class="btn-loader"></span>
        </button>
      </div>
    </div>
  </div>
</div>
<br><br>

<script src="{{ url_for('static', filename='settings_fetch.js') }}"></script>
<script src="{{ url_for('static', filename='settings_handling.js') }}"></script>


<script>

  
  const addIncentiveBtn = document.getElementById("add_incentive_btn")
  const addRestrictionBtn = document.getElementById("addRestrictionBtn")

  withLoader(addIncentiveBtn, () => handleAddIncentive(...incentiveVars()))
  withLoader(addRestrictionBtn, () => handleAddRestriction(...restrictionVars()))

  const extraTimeSelect = document.getElementById("extra-time")
  const timeRatioSelect = document.getElementById("study-fun-ratio")

  timeRatioSelect.addEventListener("change", () => {
    const ratio = timeRatioSelect.value
    const id = "{{ estudiante_id }}"
    fetchTimeFunRatio(id, ratio)
  })

  extraTimeSelect.addEventListener("change", () => {
    const extraTime = extraTimeSelect.value
    const id = "{{ estudiante_id }}"
    fetchSetExtraTime(id, extraTime)
  })

  

document.addEventListener("DOMContentLoaded", () => {
  const alerts = document.querySelectorAll(".alert");
  alerts.forEach(alert => {
    setTimeout(() => alert.remove(), 5000);
  });
});

const selectPais = document.getElementById("pais_select")
const monedaDisplay = document.getElementById("moneda_display")
const simboloDisplay = document.getElementById("monto")
const selectSistema = document.getElementById("grade")

const sistemas = JSON.parse('{{ sistemas | tojson | safe }}')

function updateDisplay() {
  const selected = selectPais.options[selectPais.selectedIndex]
  monedaDisplay.textContent = selected.dataset.moneda
  simboloDisplay.placeholder = selected.dataset.simbolo
}

function updateSistema() {
  const paisId = selectPais.value
  const sistema = sistemas[paisId]

  selectSistema.innerHTML = ""
  if (sistema) {
    sistema.valores.forEach(val => {
      const opt = document.createElement("option")
      opt.value = val
      opt.textContent = val
      selectSistema.appendChild(opt)
    })
  }
}

function handlePaisChange(select) {
  updateDisplay()
  updateSistema()

  fetchCambiarPais("{{ estudiante_id }}", select.value)
}

handlePaisChange(selectPais)


document.getElementById("grade_incentive").addEventListener("change", function() {
  const div = document.getElementById("grade_incentive_section")
  div.style.display = this.checked ? "block" : "none"
})

const icon = document.getElementById("infoIcon")
const tooltip = icon.nextElementSibling

icon.addEventListener("click", () => {
  if (tooltip.style.visibility === "visible") {
    tooltip.style.visibility = "hidden"
    tooltip.style.opacity = "0"
  } else {
    tooltip.style.visibility = "visible"
    tooltip.style.opacity = "1"
  }
})

document.addEventListener("click", (e) => {
  if (!icon.parentElement.contains(e.target)) {
    tooltip.style.visibility = "hidden"
    tooltip.style.opacity = "0"
  }
})

function incentiveVars() {
  const estudianteId = "{{ estudiante_id }}"
  const monto = document.getElementById('monto').value
  const nota = document.getElementById('grade').value
  const simbolo = document.getElementById('monto').placeholder
  const moneda = document.getElementById('pais_select')
    .options[document.getElementById('pais_select').selectedIndex]
    .dataset.moneda

  return [ estudianteId, monto, nota, simbolo, moneda ]
}

function restrictionVars() {
  const estudianteId = "{{ estudiante_id }}"
  const restriccion = document.getElementById("restriccion_input").value

  return [estudianteId, restriccion]
}

</script>

{% endblock %}